*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary--color: #00008b;
  --secondary--color: #d3d3d3;
  --background--color: white;
  --foreground--color: black;
  --spacing: 0.25rem;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1200px;
  max-width: calc(100% - 12rem);
  margin: 0 auto; /* center the container by use margin top and bottom 0 and left and right auto*/
}

a {
  text-decoration: none; /* remove the underline of the link*/
}

/* ================================ Header ================================ */

.header {
  background-color: var(--primary--color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__right {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 10);
}

.header__link {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  color: var(--secondary--color);
  padding: 20px 0;
}

.header__link:hover {
  color: var(--background--color);
}

.header__link--active {
  color: var(--background--color);
}

.header__logo {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  color: var(--background--color);
  padding: 20px 0;
}

/* ================================ Main ================================ */
.main {
  margin-top: 170px;
  margin-bottom: 80px;
}
.main__title {
  font-size: 3.6rem;
  font-weight: 700;
  text-align: center;
  color: var(--foreground--color);
  margin-bottom: 100px;
}

.course__item {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 10);
  border: 3px solid var(--secondary--color);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
}

.courses__img {
  width: 300px;
  height: 212px;
  object-fit: cover;
}

.courses__title {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--foreground--color);
  line-height: 1.5;
}

.courses__description {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--foreground--color);
  line-height: 1.5;
}
.courses__content {
  margin-right: calc(var(--spacing) * 10);
}

.courses__btn {
  display: inline-block;
  margin-top: 10px;
  padding: 12px 30px;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--background--color);
  background-color: var(--primary--color);
  border-radius: 20px;
  cursor: pointer;
}

.courses__btn:hover {
  background-color: #0000cd;
  transition: ease-out 0.3s;
}
